:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --accent-color: #2196f3;
}

body {
  font-family: var(--main-font);
}

.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.section-title-team {
  background: #f5f4fa;
}
/* ================= COMPONENTS ================= */

.employees-list-item {
  background: #ffffff;
}

.section-title-list {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.feature-subheadings-list {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #212121;
}

.descriptions {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}

.employes-list-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.employees-list-position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;

  color: #757575;
}

/* ================= /COMPONENTS ================= */

/* ================= HEADER ================= */

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #2196f3;
}

.logo-span {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  color: #000000;
}

.menu-link {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-link:hover,
.menu-link:focus {
  color: #2196f3;
}

.header-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-mail:hover,
.header-mail:focus {
  color: #2196f3;
}

.header-phone {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-phone:hover,
.header-phone:focus {
  color: #2196f3;
}

/* ================= /HEADER ================= */

/* ================= HERO ================= */
.hero {
  background: #2f303a;
}
.main-title {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;

  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.modal-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.9;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background-color: var(--accent-color);

  color: #ffffff;
}

.modal-btn:hover,
.menu-btn:focus {
  background-color: #188ce8;
}

/* ================= /HERO ================= */

/* ================= MAIN PORFOLIO ================= */
.modal-button {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border-radius: 4px;
  cursor: pointer;
}
.modal-button:hover,
.modal-button:focus {
  background-color: #2196f3;
  color: #ffffff;
}

.portfolio-list {
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
}

.header {
  border: 1px solid #ececec;
}
/* ================= MAIN PORFOLIO/ ================= */

/* ================= FOOTER ================= */
.footer {
  background: #2f303a;
}
.logo-span-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1, 19;

  letter-spacing: 0.03em;
  color: #ffffff;
}
.contact-info {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /*  */

  letter-spacing: 0.03em;
  color: #ffffff;
}

.contact-info-list-link {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  /* or 171% */

  letter-spacing: 0.03em;

  color: rgba(255, 255, 255, 0.6);
}
/* ================= /FOOTER ================= */
